@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: "Montserrat";
	--bleu: #008CFF;
	--vert: #00FF99;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20%;
	background-color: white;

	h2 {
			text-align: center;
			font-size: 3em;
			text-transform: uppercase;
			letter-spacing: 5px;
			font-weight: bolder;
			margin: 0;
			background: linear-gradient(to right, var(--bleu) 0%, var(--vert) 100%);
			background-clip: text;
			color: transparent;
		}

	#betForm {
		width: 100%;
		padding: 50px;

		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		box-shadow: 0 0 20px 10px rgba(0, 0, 0, .25);
		border-radius: 20px;
		gap: 50px;

		input[type=text], input[type=number] {
			border: none;
			border-image: linear-gradient(to right, var(--bleu) 0%, var(--vert) 100%) 1;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			font-size: 1em;
		}

		#joueurs-field {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			input:nth-child(even) {
				text-align: right;
			}

			input {
				width: 100%;
			}
		}

		#cotes {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			input {
				width: 15%;

				&:nth-child(even) {
					text-align: right;
				}
			}
		}

		#surfaces {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.surface-selector {
				border: 2px solid #aaa;
				background-color: white;
				padding: 10px;
				width: 100px;
				text-align: center;
				color: #aaa;
				cursor: pointer;
			}
			
			.selected {
				border-image: linear-gradient(to right, var(--bleu) 0%, var(--vert) 100%) 1;
				border-width: 2px;
				border-style: solid;
				color: black;
			}
		}

		#infos-tournoi {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			
			select {
				border: 2px solid #aaa;
				background-color: white;
				padding: 10px;
				width: 100px;
				font-size: 1em;
				color: #aaa;
				box-sizing: content-box;

				&.active {
					color: black;
				}
			}
		}

		#param-pari {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.pari-infos {
				width: 30%;
				display: flex;
				flex-direction: column;

				label {
					font-weight: bolder;
					text-transform: uppercase;
					font-size: 0.6em;
					color: #555;
				}

				input {
					border-image: none;
					border-bottom: 1px solid #aaa;
					color: black;
				}
			}
		}

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			padding: 10px 50px;
			text-align: center;
			background: linear-gradient(to right, var(--bleu) 0%, var(--vert) 100%);
			color: white;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1em;
			letter-spacing: 2px;
			border-radius: 5px;
			box-shadow: 0 0 20px 5px rgba(0, 0, 0, .25);
			cursor: pointer;
		}
	}

	#result {
		display: flex;
		flex-direction: column;
		background-color: white;
		box-shadow: 0 0 20px 10px rgba(0, 0, 0, .25);
		padding: 50px;
		border-radius: 20px;

		#noms-joueurs {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 20px 0px;
			font-size: 1.2em;

			p {
				text-transform: uppercase;

				&.winner {
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}

		#infos-bet {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;

			#mise {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				p {
					margin: 0;
					font-weight: bold;
					font-size: 2em;
					background: linear-gradient(to right, var(--bleu) 0%, var(--vert) 100%);
					background-clip: text;
					color: transparent;
				}

				.title {
					font-weight: 600;
					font-size: 0.85em;
					background: none;
					color: black;
				}
			}

			#details {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

				.info {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					flex: 1;

					p {
						width: 100%;
						text-align: center;
						margin: 0;
						font-weight: bold;
						font-size: 1.2em;
						color: #aaa;
					}

					.title {
						font-weight: 600;
						font-size: 0.85em;
						color: black;
					}
				}

				#ev {
					p {
						text-align: left;
					}
				}

				#proba {
					p {
						text-align: right;
					}
				}
			}
		}

		#no-bet {
			color: red;
			display: flex;
			flex-direction: column;
			align-items: center;

			p {
				margin: -20px;
				font-weight: bold;
			}
		}
	}
	
	.hidden {
		display: none !important;
	}
}